<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dialog</key>
	<dict>
		<key>ThisIs</key>
		<dict>
			<key>English</key>
			<string>This is the Arabic Alphabet Song</string>
			<key>Arabic</key>
			<string>دي أغنية الحروف الأبجدية بالعربي</string>
		</dict>
		<key>AlphabetSong</key>
		<dict>
			<key>English</key>
			<string></string>
			<key>Arabic</key>
			<string></string>
		</dict>
		<key>SingAlong</key>
		<dict>
			<key>English</key>
			<string>Why don&apos;t you sing along?</string>
			<key>Arabic</key>
			<string>تيجوا تغنوا معايا؟</string>
		</dict>
	</dict>
	<key>Letters</key>
	<array/>
</dict>
</plist>
