<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dialog</key>
	<dict>
		<key>ThisIs</key>
		<dict>
			<key>English</key>
			<string>This is the Arabic Alphabet Song</string>
			<key>Arabic</key>
			<string>دي أغنية الحروف الأبجدية بالعربي</string>
		</dict>
		<key>AlphabetSong</key>
		<dict>
			<key>English</key>
			<string></string>
			<key>Arabic</key>
			<string></string>
		</dict>
		<key>SingAlong</key>
		<dict>
			<key>English</key>
			<string>Why don&apos;t you sing along?</string>
			<key>Arabic</key>
			<string>تيجوا تغنوا معايا؟</string>
		</dict>
	</dict>
	<key>Letters</key>
	<array>
		<string>0</string>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>15</string>
		<string>16</string>
		<string>17</string>
		<string>18</string>
		<string>19</string>
		<string>20</string>
		<string>21</string>
		<string>22</string>
		<string>23</string>
		<string>24</string>
		<string>25</string>
		<string>26</string>
		<string>27</string>
	</array>
</dict>
</plist>
