<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>What&apos;s Your Name </string>
	<string>Version 1.0</string>
	<string></string>
	<string>Programmers</string>
	<string>Richard Nguyen</string>
	<string>Julie Alexan</string>
	<string></string>
	<string>Character Animation</string>
	<string>Sara Youssef</string>
	<string></string>
	<string>Character Design</string>
	<string>Fady Caesar</string>
	<string></string>
	<string>Graphics &amp; Audio</string>
	<string>Julie Alexan</string>
	<string></string>
	<string>Voice Actors</string>
	<string> Nolia  Farah</string>
	<string> Rico   Raffi</string>
	<string>   Rania   Mariam</string>
	<string>  Miss Samia   Renee           </string>
	<string></string>
	<string>Music</string>
	<string>???</string>
	<string></string>
	<string>Based on the book</string>
	<string>&quot;Nolia Fasolia&quot;</string>
	<string></string>
	<string>Copyright</string>
	<string>© Copyright 2013 BigKids Bilingual Books
</string>
	<string>All rights reserved</string>
	<string></string>
	<string>Visit Us</string>
	<string>www.noliafasolia.com</string>
	<string></string>
	<string></string>
</array>
</plist>
