<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Programmers</key>
	<array>
		<string>Richard Nguyen</string>
		<string>Julie Alexan</string>
	</array>
	<key>Character Design</key>
	<array>
		<string>Fady Caesar</string>
	</array>
	<key>Character Animation</key>
	<array>
		<string>Sara Youssef</string>
	</array>
	<key>Graphics/Audio</key>
	<array>
		<string>Julie Alexan</string>
	</array>
	<key>Voice Actors</key>
	<array>
		<string>Farah</string>
		<string>Mariam</string>
		<string>Raffi</string>
		<string>Renee</string>
	</array>
	<key>Music</key>
	<array>
		<string>???</string>
	</array>
	<key>© Copyright 2013
COPYRIGHT SIGN
Unicode: U+00A9, UTF-8: C2 A9 Copyright</key>
	<array>
		<string>BigKids Bilingual Books .com</string>
	</array>
	<key>All rights reserved</key>
	<array/>
</dict>
</plist>
