<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alef</key>
	<dict>
		<key>Isolated</key>
		<string>0627</string>
		<key>Initial</key>
		<string>FE8D</string>
		<key>Medial</key>
		<string>FE8E</string>
		<key>Final</key>
		<string>FE8E</string>
	</dict>
	<key>beh</key>
	<dict>
		<key>Isolated</key>
		<string>0628</string>
		<key>Initial</key>
		<string>FE91</string>
		<key>Medial</key>
		<string>FE92</string>
		<key>Final</key>
		<string>FE90</string>
	</dict>
	<key>teh</key>
	<dict>
		<key>Isolated</key>
		<string>062A</string>
		<key>Initial</key>
		<string>FE97</string>
		<key>Medial</key>
		<string>FE98</string>
		<key>Final</key>
		<string>FE96</string>
	</dict>
	<key>theh</key>
	<dict>
		<key>Isolated</key>
		<string>062B</string>
		<key>Initial</key>
		<string>FE9B</string>
		<key>Medial</key>
		<string>FE9C</string>
		<key>Final</key>
		<string>FE9A</string>
	</dict>
	<key>geem</key>
	<dict>
		<key>Isolated</key>
		<string>062C</string>
		<key>Initial</key>
		<string>FE9F</string>
		<key>Medial</key>
		<string>FEA0</string>
		<key>Final</key>
		<string>FE9E</string>
	</dict>
	<key>Ha</key>
	<dict>
		<key>Isolated</key>
		<string>062D</string>
		<key>Initial</key>
		<string>FEA3</string>
		<key>Medial</key>
		<string>FEA4</string>
		<key>Final</key>
		<string>FEA2</string>
	</dict>
	<key>kha</key>
	<dict>
		<key>Isolated</key>
		<string>062E</string>
		<key>Initial</key>
		<string>FEA7</string>
		<key>Medial</key>
		<string>FEA8</string>
		<key>Final</key>
		<string>FEA6</string>
	</dict>
	<key>daal</key>
	<dict>
		<key>Isolated</key>
		<string>062F</string>
		<key>Initial</key>
		<string>062F</string>
		<key>Medial</key>
		<string>FEAA</string>
		<key>Final</key>
		<string>FEAA</string>
	</dict>
	<key>thaal</key>
	<dict>
		<key>Isolated</key>
		<string>0630</string>
		<key>Initial</key>
		<string>0630</string>
		<key>Medial</key>
		<string>FEAC</string>
		<key>Final</key>
		<string>FEAC</string>
	</dict>
	<key>reh</key>
	<dict>
		<key>Isolated</key>
		<string>0631</string>
		<key>Initial</key>
		<string>0631</string>
		<key>Medial</key>
		<string>FEAE</string>
		<key>Final</key>
		<string>FEAE</string>
	</dict>
	<key>zein</key>
	<dict>
		<key>Isolated</key>
		<string>0632</string>
		<key>Initial</key>
		<string>0632</string>
		<key>Medial</key>
		<string>FEB0</string>
		<key>Final</key>
		<string>FEB0</string>
	</dict>
	<key>seen</key>
	<dict>
		<key>Isolated</key>
		<string>0633</string>
		<key>Initial</key>
		<string>FEB3</string>
		<key>Medial</key>
		<string>FEB4</string>
		<key>Final</key>
		<string>FEB2</string>
	</dict>
	<key>sheen</key>
	<dict>
		<key>Isolated</key>
		<string>0634</string>
		<key>Initial</key>
		<string>FEB7</string>
		<key>Medial</key>
		<string>FEB8</string>
		<key>Final</key>
		<string>FEB6</string>
	</dict>
	<key>saad</key>
	<dict>
		<key>Isolated</key>
		<string>0635</string>
		<key>Initial</key>
		<string>FEBB</string>
		<key>Medial</key>
		<string>FEBC</string>
		<key>Final</key>
		<string>FEBA</string>
	</dict>
	<key>daad</key>
	<dict>
		<key>Isolated</key>
		<string>0636</string>
		<key>Initial</key>
		<string>FEBF</string>
		<key>Medial</key>
		<string>FEB0</string>
		<key>Final</key>
		<string>FEBE</string>
	</dict>
	<key>Taa</key>
	<dict>
		<key>Isolated</key>
		<string>0637</string>
		<key>Initial</key>
		<string>FEC3</string>
		<key>Medial</key>
		<string>FEC4</string>
		<key>Final</key>
		<string>FEC2</string>
	</dict>
	<key>Thaa</key>
	<dict>
		<key>Isolated</key>
		<string>0638</string>
		<key>Initial</key>
		<string>FEC7</string>
		<key>Medial</key>
		<string>FEC8</string>
		<key>Final</key>
		<string>FEC6</string>
	</dict>
	<key>&apos;ein</key>
	<dict>
		<key>Isolated</key>
		<string>0639</string>
		<key>Initial</key>
		<string>FECB</string>
		<key>Medial</key>
		<string>FECC</string>
		<key>Final</key>
		<string>FECA</string>
	</dict>
	<key>ghein</key>
	<dict>
		<key>Isolated</key>
		<string>063A</string>
		<key>Initial</key>
		<string>FECF</string>
		<key>Medial</key>
		<string>FEC0</string>
		<key>Final</key>
		<string>FECE</string>
	</dict>
	<key>feh</key>
	<dict>
		<key>Isolated</key>
		<string>0641</string>
		<key>Initial</key>
		<string>FED3</string>
		<key>Medial</key>
		<string>FED4</string>
		<key>Final</key>
		<string>FED2</string>
	</dict>
	<key>qaaf</key>
	<dict>
		<key>Isolated</key>
		<string>0642</string>
		<key>Initial</key>
		<string>FED7</string>
		<key>Medial</key>
		<string>FED8</string>
		<key>Final</key>
		<string>FED6</string>
	</dict>
	<key>kaaf</key>
	<dict>
		<key>Isolated</key>
		<string>0643</string>
		<key>Initial</key>
		<string>FEDB</string>
		<key>Medial</key>
		<string>FEDC</string>
		<key>Final</key>
		<string>FEDA</string>
	</dict>
	<key>lam</key>
	<dict>
		<key>Isolated</key>
		<string>0644</string>
		<key>Initial</key>
		<string>FEDF</string>
		<key>Medial</key>
		<string>FEE0</string>
		<key>Final</key>
		<string>FEDE</string>
	</dict>
	<key>meem</key>
	<dict>
		<key>Isolated</key>
		<string>0645</string>
		<key>Initial</key>
		<string>FEE3</string>
		<key>Medial</key>
		<string>FEE4</string>
		<key>Final</key>
		<string>FEE2</string>
	</dict>
	<key>noon</key>
	<dict>
		<key>Isolated</key>
		<string>0646</string>
		<key>Initial</key>
		<string>FEE7</string>
		<key>Medial</key>
		<string>FEE8</string>
		<key>Final</key>
		<string>FEE6</string>
	</dict>
	<key>heh</key>
	<dict>
		<key>Isolated</key>
		<string>0647</string>
		<key>Initial</key>
		<string>FEEB</string>
		<key>Medial</key>
		<string>FEEC</string>
		<key>Final</key>
		<string>FEEA</string>
	</dict>
	<key>wow</key>
	<dict>
		<key>Isolated</key>
		<string>0648</string>
		<key>Initial</key>
		<string>0648</string>
		<key>Medial</key>
		<string>FEEE</string>
		<key>Final</key>
		<string>FEEE</string>
	</dict>
	<key>yeh</key>
	<dict>
		<key>Isolated</key>
		<string>064A</string>
		<key>Initial</key>
		<string>FEF3</string>
		<key>Medial</key>
		<string>FEF4</string>
		<key>Final</key>
		<string>FEF2</string>
	</dict>
	<key>alef madda</key>
	<dict>
		<key>Isolated</key>
		<string>0622</string>
		<key>Initial</key>
		<string>0622</string>
		<key>Medial</key>
		<string>FE82</string>
		<key>Final</key>
		<string>FE82</string>
	</dict>
	<key>te marboota</key>
	<dict>
		<key>Isolated</key>
		<string>0629</string>
		<key>Initial</key>
		<string>0629</string>
		<key>Medial</key>
		<string>FE94</string>
		<key>Final</key>
		<string>FE94</string>
	</dict>
	<key>alef maksoora</key>
	<dict>
		<key>Isolated</key>
		<string>0649</string>
		<key>Initial</key>
		<string>0649</string>
		<key>Medial</key>
		<string>FEF0</string>
		<key>Final</key>
		<string>FEF0</string>
	</dict>
	<key>hamza</key>
	<dict>
		<key>Isolated</key>
		<string>FE80</string>
		<key>Initial</key>
		<string>FE80</string>
		<key>Medial</key>
		<string>FE80</string>
		<key>Final</key>
		<string>FE80</string>
	</dict>
	<key>alef hamza</key>
	<dict>
		<key>Isolated</key>
		<string>0623</string>
		<key>Initial</key>
		<string>FE83</string>
		<key>Medial</key>
		<string>FE84</string>
		<key>Final</key>
		<string>FE84</string>
		<key>Unicode</key>
		<string>0623</string>
	</dict>
	<key>alef hamza below</key>
	<dict>
		<key>Isolated</key>
		<string>0625</string>
		<key>Initial</key>
		<string>FE87</string>
		<key>Medial</key>
		<string>FE88</string>
		<key>Final</key>
		<string>FE88</string>
	</dict>
	<key>wow hamza</key>
	<dict>
		<key>Isolated</key>
		<string>0624</string>
		<key>Initial</key>
		<string>0624</string>
		<key>Medial</key>
		<string>0624</string>
		<key>Final</key>
		<string>0624</string>
	</dict>
	<key>yeh hamza</key>
	<dict>
		<key>Isolated</key>
		<string>0626</string>
		<key>Initial</key>
		<string>FE8B</string>
		<key>Medial</key>
		<string>FE8C</string>
		<key>Final</key>
		<string>FE8A</string>
	</dict>
</dict>
</plist>
