<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>0627</string>
		<key>Initial</key>
		<string>FE8D</string>
		<key>Medial</key>
		<string>FE8E</string>
		<key>Final</key>
		<string>FE8E</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>beh</string>
		<key>Isolated</key>
		<string>0628</string>
		<key>Initial</key>
		<string>FE91</string>
		<key>Medial</key>
		<string>FE92</string>
		<key>Final</key>
		<string>FE90</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>teh</string>
		<key>Isolated</key>
		<string>062A</string>
		<key>Initial</key>
		<string>FE97</string>
		<key>Medial</key>
		<string>FE98</string>
		<key>Final</key>
		<string>FE96</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>theh</string>
		<key>Isolated</key>
		<string>062B</string>
		<key>Initial</key>
		<string>FE9B</string>
		<key>Medial</key>
		<string>FE9C</string>
		<key>Final</key>
		<string>FE9A</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>geem</string>
		<key>Isolated</key>
		<string>062C</string>
		<key>Initial</key>
		<string>FE9F</string>
		<key>Medial</key>
		<string>FEA0</string>
		<key>Final</key>
		<string>FE9E</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ha</string>
		<key>Isolated</key>
		<string>062D</string>
		<key>Initial</key>
		<string>FEA3</string>
		<key>Medial</key>
		<string>FEA4</string>
		<key>Final</key>
		<string>FEA2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>kha</string>
		<key>Isolated</key>
		<string>062E</string>
		<key>Initial</key>
		<string>FEA7</string>
		<key>Medial</key>
		<string>FEA8</string>
		<key>Final</key>
		<string>FEA6</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>daal</string>
		<key>Isolated</key>
		<string>062F</string>
		<key>Initial</key>
		<string>062F</string>
		<key>Medial</key>
		<string>FEAA</string>
		<key>Final</key>
		<string>FEAA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>thaal</string>
		<key>Isolated</key>
		<string>0630</string>
		<key>Initial</key>
		<string>0630</string>
		<key>Medial</key>
		<string>FEAC</string>
		<key>Final</key>
		<string>FEAC</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>reh</string>
		<key>Isolated</key>
		<string>0631</string>
		<key>Initial</key>
		<string>0631</string>
		<key>Medial</key>
		<string>FEAE</string>
		<key>Final</key>
		<string>FEAE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>zein</string>
		<key>Isolated</key>
		<string>0632</string>
		<key>Initial</key>
		<string>0632</string>
		<key>Medial</key>
		<string>FEB0</string>
		<key>Final</key>
		<string>FEB0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>seen</string>
		<key>Isolated</key>
		<string>0633</string>
		<key>Initial</key>
		<string>FEB3</string>
		<key>Medial</key>
		<string>FEB4</string>
		<key>Final</key>
		<string>FEB2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>sheen</string>
		<key>Isolated</key>
		<string>0634</string>
		<key>Initial</key>
		<string>FEB7</string>
		<key>Medial</key>
		<string>FEB8</string>
		<key>Final</key>
		<string>FEB6</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>saad</string>
		<key>Isolated</key>
		<string>0635</string>
		<key>Initial</key>
		<string>FEBB</string>
		<key>Medial</key>
		<string>FEBC</string>
		<key>Final</key>
		<string>FEBA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>daad</string>
		<key>Isolated</key>
		<string>0636</string>
		<key>Initial</key>
		<string>FEBF</string>
		<key>Medial</key>
		<string>FEB0</string>
		<key>Final</key>
		<string>FEBE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Taa</string>
		<key>Isolated</key>
		<string>0637</string>
		<key>Initial</key>
		<string>FEC3</string>
		<key>Medial</key>
		<string>FEC4</string>
		<key>Final</key>
		<string>FEC2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Thaa</string>
		<key>Isolated</key>
		<string>0638</string>
		<key>Initial</key>
		<string>FEC7</string>
		<key>Medial</key>
		<string>FEC8</string>
		<key>Final</key>
		<string>FEC6</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>&apos;ein</string>
		<key>Isolated</key>
		<string>0639</string>
		<key>Initial</key>
		<string>FECB</string>
		<key>Medial</key>
		<string>FECC</string>
		<key>Final</key>
		<string>FECA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>ghein</string>
		<key>Isolated</key>
		<string>063A</string>
		<key>Initial</key>
		<string>FECF</string>
		<key>Medial</key>
		<string>FEC0</string>
		<key>Final</key>
		<string>FECE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>feh</string>
		<key>Isolated</key>
		<string>0641</string>
		<key>Initial</key>
		<string>FED3</string>
		<key>Medial</key>
		<string>FED4</string>
		<key>Final</key>
		<string>FED2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>qaaf</string>
		<key>Isolated</key>
		<string>0642</string>
		<key>Initial</key>
		<string>FED7</string>
		<key>Medial</key>
		<string>FED8</string>
		<key>Final</key>
		<string>FED6</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>kaaf</string>
		<key>Isolated</key>
		<string>0643</string>
		<key>Initial</key>
		<string>FEDB</string>
		<key>Medial</key>
		<string>FEDC</string>
		<key>Final</key>
		<string>FEDA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>lam</string>
		<key>Isolated</key>
		<string>0644</string>
		<key>Initial</key>
		<string>FEDF</string>
		<key>Medial</key>
		<string>FEE0</string>
		<key>Final</key>
		<string>FEDE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>meem</string>
		<key>Isolated</key>
		<string>0645</string>
		<key>Initial</key>
		<string>FEE3</string>
		<key>Medial</key>
		<string>FEE4</string>
		<key>Final</key>
		<string>FEE2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>noon</string>
		<key>Isolated</key>
		<string>0646</string>
		<key>Initial</key>
		<string>FEE7</string>
		<key>Medial</key>
		<string>FEE8</string>
		<key>Final</key>
		<string>FEE6</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>heh</string>
		<key>Isolated</key>
		<string>0647</string>
		<key>Initial</key>
		<string>FEEB</string>
		<key>Medial</key>
		<string>FEEC</string>
		<key>Final</key>
		<string>FEEA</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>wow</string>
		<key>Isolated</key>
		<string>0648</string>
		<key>Initial</key>
		<string>0648</string>
		<key>Medial</key>
		<string>FEEE</string>
		<key>Final</key>
		<string>FEEE</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>yeh</string>
		<key>Isolated</key>
		<string>064A</string>
		<key>Initial</key>
		<string>FEF3</string>
		<key>Medial</key>
		<string>FEF4</string>
		<key>Final</key>
		<string>FEF2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef madda</string>
		<key>Isolated</key>
		<string>0622</string>
		<key>Initial</key>
		<string>0622</string>
		<key>Medial</key>
		<string>FE82</string>
		<key>Final</key>
		<string>FE82</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>te marboota</string>
		<key>Isolated</key>
		<string>0629</string>
		<key>Initial</key>
		<string>0629</string>
		<key>Medial</key>
		<string>FE94</string>
		<key>Final</key>
		<string>FE94</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef maksoora</string>
		<key>Isolated</key>
		<string>0649</string>
		<key>Initial</key>
		<string>0649</string>
		<key>Medial</key>
		<string>FEF0</string>
		<key>Final</key>
		<string>FEF0</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>hamza</string>
		<key>Isolated</key>
		<string>FE80</string>
		<key>Initial</key>
		<string>FE80</string>
		<key>Medial</key>
		<string>FE80</string>
		<key>Final</key>
		<string>FE80</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef hamza</string>
		<key>Isolated</key>
		<string>0623</string>
		<key>Initial</key>
		<string>FE83</string>
		<key>Medial</key>
		<string>FE84</string>
		<key>Final</key>
		<string>FE84</string>
		<key>Unicode</key>
		<string>0623</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef hamza below</string>
		<key>Isolated</key>
		<string>0625</string>
		<key>Initial</key>
		<string>FE87</string>
		<key>Medial</key>
		<string>FE88</string>
		<key>Final</key>
		<string>FE88</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>wow hamza</string>
		<key>Isolated</key>
		<string>0624</string>
		<key>Initial</key>
		<string>0624</string>
		<key>Medial</key>
		<string>0624</string>
		<key>Final</key>
		<string>0624</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>yeh hamza</string>
		<key>Isolated</key>
		<string>0626</string>
		<key>Initial</key>
		<string>FE8B</string>
		<key>Medial</key>
		<string>FE8C</string>
		<key>Final</key>
		<string>FE8A</string>
	</dict>
</array>
</plist>
