<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aa</key>
	<dict>
		<key>initial</key>
		<string>alef madda</string>
		<key>middle</key>
		<string>alef</string>
	</dict>
	<key>au</key>
	<dict>
		<key>initial</key>
		<string>wow</string>
		<key>middle</key>
		<string>wow</string>
	</dict>
	<key>a</key>
	<dict>
		<key>initial</key>
		<string>alef hamza / alef madda</string>
		<key>middle</key>
		<string>alef / nil</string>
		<key>final</key>
		<string>te marboota / alef maksoora</string>
	</dict>
	<key>A</key>
	<dict>
		<key>initail</key>
		<string>alef madda / alef hamza / alef</string>
		<key>middle</key>
		<string>alef madda</string>
	</dict>
	<key>b</key>
	<dict>
		<key>initial</key>
		<string>beh</string>
		<key>middle</key>
		<string>beh</string>
	</dict>
	<key>c</key>
	<dict>
		<key>initial</key>
		<string>kaaf</string>
		<key>middle</key>
		<string>seen</string>
	</dict>
	<key>ch</key>
	<dict>
		<key>initial</key>
		<string>sheen</string>
		<key>middle</key>
		<string>sheen / teh, sheen</string>
	</dict>
	<key>d</key>
	<dict>
		<key>initial</key>
		<string>daal</string>
		<key>middle</key>
		<string>daal / daad</string>
	</dict>
	<key>e</key>
	<dict>
		<key>initial</key>
		<string>alef hamza under</string>
		<key>middle</key>
		<string>yeh / nil</string>
	</dict>
	<key>ee</key>
	<dict>
		<key>initail</key>
		<string>yeh</string>
		<key>middle</key>
		<string>yeh</string>
	</dict>
	<key>ei</key>
	<dict>
		<key>initail</key>
		<string>alef, yeh</string>
		<key>middle</key>
		<string>alef, yeh</string>
	</dict>
	<key>ie</key>
	<dict>
		<key>initail</key>
		<string>yeh</string>
		<key>middle</key>
		<string>yeh</string>
	</dict>
	<key>f</key>
	<dict>
		<key>initail</key>
		<string>feh</string>
		<key>middle</key>
		<string>feh</string>
	</dict>
	<key>g</key>
	<dict>
		<key>initail</key>
		<string>geem</string>
		<key>middle</key>
		<string>geem</string>
	</dict>
	<key>h</key>
	<dict>
		<key>initail</key>
		<string>heh</string>
		<key>middle</key>
		<string>heh / Ha</string>
	</dict>
	<key>H</key>
	<dict>
		<key>initail</key>
		<string>Ha</string>
		<key>middle</key>
		<string>Ha</string>
	</dict>
	<key>gh</key>
	<dict>
		<key>initail</key>
		<string>ghein</string>
		<key>middle</key>
		<string>ghein</string>
	</dict>
	<key>kh</key>
	<dict>
		<key>initail</key>
		<string>KHa</string>
		<key>middle</key>
		<string>KHa</string>
	</dict>
	<key>7</key>
	<dict>
		<key>initail</key>
		<string>Ha</string>
		<key>middle</key>
		<string>Ha</string>
	</dict>
	<key>5</key>
	<dict>
		<key>initail</key>
		<string>ghien</string>
		<key>middle</key>
		<string>ghein</string>
	</dict>
	<key>3</key>
	<dict>
		<key>initail</key>
		<string>&apos;ein</string>
		<key>middle</key>
		<string>&apos;ein</string>
	</dict>
	<key>2</key>
	<dict>
		<key>initail</key>
		<string>hamza / alef hamza / qaaf</string>
		<key>middle</key>
		<string>hamza / alef hamza / qaaf</string>
	</dict>
	<key>i</key>
	<dict>
		<key>initail</key>
		<string>alef hamza under</string>
		<key>middle</key>
		<string>yeh</string>
	</dict>
	<key>j</key>
	<dict>
		<key>initail</key>
		<string>geem</string>
		<key>middle</key>
		<string>geem</string>
	</dict>
	<key>k</key>
	<dict>
		<key>initail</key>
		<string>kaaf</string>
		<key>middle</key>
		<string>kaaf</string>
	</dict>
	<key>l</key>
	<dict>
		<key>initail</key>
		<string>lam</string>
		<key>middle</key>
		<string>lam</string>
	</dict>
	<key>ll</key>
	<dict>
		<key>initail</key>
		<string>lam</string>
		<key>middle</key>
		<string>lam</string>
	</dict>
	<key>m</key>
	<dict>
		<key>initail</key>
		<string>meem</string>
		<key>middle</key>
		<string>meem</string>
	</dict>
	<key>n</key>
	<dict>
		<key>initail</key>
		<string>noon</string>
		<key>middle</key>
		<string>noon</string>
	</dict>
	<key>o</key>
	<dict>
		<key>initail</key>
		<string>alef hamza, wow</string>
		<key>middle</key>
		<string>wow</string>
	</dict>
	<key>oo</key>
	<dict>
		<key>initail</key>
		<string>wow</string>
		<key>middle</key>
		<string>wow</string>
	</dict>
	<key>p</key>
	<dict>
		<key>initail</key>
		<string>beh</string>
		<key>middle</key>
		<string>beh</string>
	</dict>
	<key>ph</key>
	<dict>
		<key>initail</key>
		<string>feh</string>
		<key>middle</key>
		<string>feh</string>
	</dict>
	<key>q</key>
	<dict>
		<key>initail</key>
		<string>kaaf</string>
		<key>middle</key>
		<string>kaaf / qaaf</string>
	</dict>
	<key>r</key>
	<dict>
		<key>initail</key>
		<string>reh</string>
		<key>middle</key>
		<string>reh</string>
	</dict>
	<key>s</key>
	<dict>
		<key>initail</key>
		<string>seen</string>
		<key>middle</key>
		<string>seen</string>
	</dict>
	<key>S</key>
	<dict>
		<key>initail</key>
		<string>saad</string>
		<key>middle</key>
		<string>saad</string>
	</dict>
	<key>ss</key>
	<dict>
		<key>initail</key>
		<string>saad</string>
		<key>middle</key>
		<string>saad / seen</string>
	</dict>
	<key>sh</key>
	<dict>
		<key>initail</key>
		<string>sheen</string>
		<key>middle</key>
		<string>sheen</string>
	</dict>
	<key>t</key>
	<dict>
		<key>initail</key>
		<string>teh / Taa</string>
		<key>middle</key>
		<string>teh</string>
	</dict>
	<key>T</key>
	<dict>
		<key>initail</key>
		<string>Taa</string>
		<key>middle</key>
		<string>Taa</string>
	</dict>
	<key>u</key>
	<dict>
		<key>initail</key>
		<string>wow</string>
		<key>middle</key>
		<string>wow</string>
	</dict>
	<key>v</key>
	<dict>
		<key>initail</key>
		<string>feh</string>
		<key>middle</key>
		<string>feh</string>
	</dict>
	<key>w</key>
	<dict>
		<key>initail</key>
		<string>wow</string>
		<key>middle</key>
		<string>wow</string>
	</dict>
	<key>x</key>
	<dict>
		<key>initail</key>
		<string>alef hamza under, kaaf, seen</string>
		<key>middle</key>
		<string>kaaf, seen</string>
	</dict>
	<key>y</key>
	<dict>
		<key>initail</key>
		<string>yeh</string>
		<key>middle</key>
		<string>yeh</string>
	</dict>
	<key>z</key>
	<dict>
		<key>initail</key>
		<string>zein / thaal</string>
		<key>middle</key>
		<string>zein / thaal</string>
	</dict>
	<key>Z</key>
	<dict>
		<key>initail</key>
		<string>zein / thaal / Thaa</string>
		<key>middle</key>
		<string>Thaa / zein / thaal</string>
	</dict>
</dict>
</plist>
