<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Now</key>
	<dict>
		<key>English</key>
		<string>Now we want to know who YOU are!</string>
		<key>Arabic</key>
		<string>دلوقتي عازين نعرف أنت مين؟</string>
	</dict>
	<key>Whats</key>
	<dict>
		<key>English</key>
		<string>What&apos;s your name?</string>
		<key>Arabic</key>
		<string>اسمك إيه؟</string>
	</dict>
	<key>Write</key>
	<dict>
		<key>English</key>
		<string>Write your name here</string>
		<key>Arabic</key>
		<string>اكتب اسمك هنا</string>
	</dict>
	<key>Hello</key>
	<dict>
		<key>English</key>
		<string>Hello @name</string>
		<key>Arabic</key>
		<string>اهلا </string>
	</dict>
	<key>LikeThis</key>
	<dict>
		<key>English</key>
		<string>Like This</string>
		<key>Arabic</key>
		<string>زي كده</string>
	</dict>
	<key>Nice</key>
	<dict>
		<key>English</key>
		<string>It was nice to meet you @name</string>
		<key>Arabic</key>
		<string>اتشرفنا بك @name </string>
	</dict>
	<key>Another</key>
	<dict>
		<key>English</key>
		<string>Write another name</string>
		<key>Arabic</key>
		<string>اكتب اسم ثاني</string>
	</dict>
	<key>Bye</key>
	<dict>
		<key>English</key>
		<string>Good Bye!</string>
		<key>Arabic</key>
		<string>مع السلامة!</string>
	</dict>
</dict>
</plist>
