<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
		<key>Unicode</key>
		<string>0623</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>noon</string>
		<key>Isolated</key>
		<string>FEE7</string>
		<key>Initial</key>
		<string>ذ</string>
		<key>Medial</key>
		<string>ـذ</string>
		<key>Final</key>
		<string>ـذ</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>lam</string>
		<key>Isolated</key>
		<string>ل</string>
		<key>Initial</key>
		<string>لـ</string>
		<key>Medial</key>
		<string>ـلـ</string>
		<key>Final</key>
		<string>ـل</string>
		<key>Unicode</key>
		<string>0644</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>alef</string>
		<key>Isolated</key>
		<string>ا</string>
		<key>Initial</key>
		<string>ا</string>
		<key>Medial</key>
		<string>ـا</string>
		<key>Final</key>
		<string>ـا</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>te marboota</string>
		<key>Isolated</key>
		<string>ه</string>
		<key>Initial</key>
		<string>هـ</string>
		<key>Medial</key>
		<string>ـهـ</string>
		<key>Final</key>
		<string>ـه</string>
		<key>Unicode</key>
		<string>0629</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>wow</string>
		<key>Isolated</key>
		<string>و</string>
		<key>Initial</key>
		<string>و</string>
		<key>Medial</key>
		<string>ـو</string>
		<key>Final</key>
		<string>ـو</string>
		<key>Unicode</key>
		<string>0648</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>ye</string>
		<key>Isolated</key>
		<string>ي</string>
		<key>Initial</key>
		<string>يـ</string>
		<key>Medial</key>
		<string>ـيـ</string>
		<key>Final</key>
		<string>ـي</string>
		<key>Unicode</key>
		<string>064A</string>
	</dict>
</array>
</plist>
