<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Letters</key>
	<array>
		<integer>9</integer>
		<integer>0</integer>
		<integer>24</integer>
		<integer>27</integer>
		<string>29</string>
	</array>
	<key>Dialog</key>
	<dict>
		<key>Name</key>
		<dict>
			<key>English</key>
			<string>Hi!  My name is Rania.</string>
			<key>Arabic</key>
			<string>اهلاً أنا اسمي رانية</string>
		</dict>
		<key>Like</key>
		<dict>
			<key>English</key>
			<string>Rania. Like this:</string>
			<key>Arabic</key>
			<string>رانية زي كده</string>
		</dict>
		<key>Shuffle</key>
		<dict>
			<key>English</key>
			<string>Nolia, no!</string>
			<key>Arabic</key>
			<string>لأ يانولية!</string>
		</dict>
		<key>Try</key>
		<dict>
			<key>English</key>
			<string>Can you help me write it again?</string>
			<key>Arabic</key>
			<string>ممكن تسعدني أكتبه ثاني؟</string>
		</dict>
		<key>Again</key>
		<dict>
			<key>English</key>
			<string>Try again</string>
			<key>Arabic</key>
			<string>جرب ثاني</string>
		</dict>
		<key>Excellent</key>
		<dict>
			<key>English</key>
			<string>Terrific!</string>
			<key>Arabic</key>
			<string>هائل!</string>
		</dict>
		<key>Later</key>
		<dict>
			<key>English</key>
			<string>See you later!</string>
			<key>Arabic</key>
			<string>إلى الاقاء</string>
		</dict>
	</dict>
</dict>
</plist>
